<div [hidden]="!preguntas" fxFlex fxFlexOffset="20px" class="form-size">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" #eform="ngForm">
    <div *ngFor="let pregunta of preguntas;" class="form-row">
      <app-pregunta [pregunta]="pregunta" [form]="form"></app-pregunta>
    </div>

    <div class="form-row" *ngIf="preguntas">
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">Save</button>
      <span class="form-row">
        <strong>{{msjUsuario}}</strong><br>
      </span>
      <span fxFlex *ngIf="respuestaErrMess">
        <strong>Error: {{respuestaErrMess}}</strong>
      </span>
    </div>
  </form>
</div>