<div [formGroup]="form">
    <label [attr.for]="pregunta.id">{{pregunta.textoPregunta}}</label>
  
    <div [ngSwitch]="pregunta.tipo">
      <p>
        <mat-form-field *ngSwitchCase="'TextoLibre'">
          <input matInput placeholder="escriba su respuesta..." [formControlName]="pregunta.id"
                  [id]="pregunta.id" [type]="'text'" required>
        </mat-form-field>

      </p>
      <p>
        <mat-form-field *ngSwitchCase="'SeleccionUnica'">
          <mat-select [id]="pregunta.id" [formControlName]="pregunta.id">
            <mat-option *ngFor="let opt of pregunta.opciones" [value]="opt.value">{{opt.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    
      <div *ngSwitchCase="'OpcionMultiple'">
        <label *ngFor="let opcion of pregunta.opciones">
          <mat-checkbox [id]="'opcion.opcionId'" [formArrayName]="pregunta.id" [checked]="opcion.checked" (click)="chequeado(opcion.opcionId)" > 
          {{opcion.value}}
          </mat-checkbox>
          </label>
      </div>
  
    </div>
    <!-- <div class="errorMessage" *ngIf="!isValid">{{pregunta.textoPregunta}} is required</div> -->
  </div>