<div [formGroup]="form">
  <div [ngSwitch]="pregunta.Tipo">
    <div style="margin-bottom: 20px;">
      <label [attr.for]="pregunta.PreguntaID"><h2>{{pregunta.TextoPregunta}}</h2></label>
    </div>
    <mat-form-field *ngSwitchCase="'TEXTOLIBRE'" class="full-width" color="accent">
      <textarea matInput placeholder="Escriba su respuesta..." [formControlName]="pregunta.PreguntaID" required
        rows="4">
        </textarea>
    </mat-form-field>


    <div *ngSwitchCase="'OPCIONSIMPLE'">
      <mat-form-field class="full-width" class="full-width" color="accent">
        <mat-select [formControlName]="pregunta.PreguntaID">
          <mat-option *ngFor="let opt of pregunta.Opciones" [value]="opt.OpcionTexto">{{opt.OpcionTexto}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'OPCIONMULTIPLE'">
      <label *ngFor="let opcion of pregunta.Opciones">
        <mat-checkbox [id]="'opcion.OpcionID'" [formArrayName]="pregunta.PreguntaID" [checked]="opcion.checked"
          (click)="chequeado(opcion.OpcionID)" class="checkbox">
          {{opcion.OpcionTexto}}
        </mat-checkbox>
      </label>
    </div>
  </div>
  <!-- <div class="errorMessage" *ngIf="!isValid">{{pregunta.textoPregunta}} is required</div> -->
</div>