/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgba(236, 225, 225, 0.45);
}

.checkbox{
    padding: 8px;
}

.checkbox-error{
    font-size: 12px;
}

.full-width{
    width: 75%;
}

.half-width{
    width: 45%;
}

.form-size{
    width: 75%;
}

.mat-card{
    border-left: 5px solid crimson;
    margin-bottom: 15px;
}

.snackbar-error{
    background: #F44336;
    color: white;
}
  
.snackbar-info{
    background-color: #4caf50;
    color: white;
    border: none;
}




